#linkSection {
    @include centered;

    height: 370px;
    width: 100%;

    background-image: url('../img/footer-bg.jpg');
   

    background-size: cover;

    color: white;

    #linkSection-container {
        position: relative;

        @include maxwidthed($maxWidth);
        width: 100%;
        max-height: 100%;

        display: flex;
        justify-content: space-between;

        padding-top: 24px;

        overflow: hidden;

        div {
            display: flex;
            flex-flow: column wrap;
            gap: 2em;
            
            ul {

                .linkTitle {
                    font-size: large;
                    font-weight: 600;
                    text-transform: uppercase;

                    margin-bottom: .5em;
                }

                li {
                    font-size: small;
                    font-weight: 400;

                    list-style: none; 
                    margin-bottom: .3em;

                    color: #959595;
                }
            }
        }

        img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-52.5%);
            height: 140%;
        }

    }
}